#todo #imagen {
    height: 450px;
    background-image: url("https://images.unsplash.com/photo-1642007086358-278c226b915d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-position: center;
    background-size: cover;
    background-blend-mode: luminosity;
}